doctype html
html
    head
        meta(charset='utf-8')
        title My 新文档
    body
        // 标签
        div
            ul
                li 111
                li 222
                li 333

            p 这是一个P标签

        // 注释
        div
            // 显示注释
            //- 不显示注释
            //
                多行显示注释
                多行显示注释
                多行显示注释
            //-
                多行不显示注释
                多行不显示注释
                多行不显示注释

        // 属性
        div
            p: img(src='111', alt='img标签1')

            p: a: img(src='222', alt='img标签2')

            p: input(type='checkbox',checked)

        // 语法
        div
            - var authenticated = true
            p(class=authenticated ? 'authed' : 'anon')

            - var currentUrl = '/about'
            p: a(class={active: currentUrl === '/'} href='/') Home
            p: a(class={active: currentUrl === '/about'} href='/about') about

        // class 及 id
        div
            p: .link
            p: a.link
            p: #button
            p: a#button

        // 行内样式
        div
            a(style={color: 'red', background: 'green'}) 行内样式

        // &attributes [追加属性]
        - var attr = {'data-foo': '123'};
        div
            div#foo&attributes(attr)

        // 文本 （单行文本，管道文本，多行文本）
        div
            p 这里是单行文本内容

            p
                | 这是一行管道文本，行数无限制
                | 这是一行管道文本，行数无限制
                | 这是一行管道文本，行数无限制
                | 这是一行管道文本，行数无限制
            p.
                这是多行文本，主要缩进
                这是多行文本，主要缩进
                这是多行文本，主要缩进
                这是多行文本，主要缩进

        // 代码嵌入
        div
            - for( var x = 0; x < 3; x++)
                li <a>#{x}</a>

            p= 'This code is <escaped>!'

            p!= 'This code is <escaped>!'

        // 插值语法
        div
            // 转义字符串插值 '#{}'
            - var theGreat = "<span>escape!</span>";
            p This will be safe: #{theGreat}
            // 不转义字符串插值 '!{}'
            - var theGreat = "<span>escape!</span>";
            p This will be safe: !{theGreat}
            // 标签插值
            p #[a(href="jade-lang.com") Jade]

        // 条件语句
        div
            // if
            // else if
            // else
            - var user = { description: 'foo bar baz' }
            - var authorised = false
            #user
              if user.description
                h2 Description
                p.description= user.description
              else if authorised
                h2 Description
                p.description.
                  User has no description,
                  why not add one...
              else
                h1 Description
                p.description User has no description

            //unless
            - var con = false
            unless con
                p Hello world
        // 分支语句
        div
            //-
                switch
                case
            - var friends = 10
            case friends
                when 0
                    p you have no friends
                when 1
                    p you have a friends
                default
                    p you have #{friends} friends

            - var friendsb = 0
            case friendsb
                when 0
                when 1
                default
                    p you have #{friendsb} friendsb
        // 遍历语句
        div
            //遍历数组
            ul
                each val, index in ['one', 'two', 'three']
                    li= index + ':' + val

            //遍历对象
            ul
                each val, index in {1:'one', 2:'two', 3:'three'}
                    li= index + ':' + val

        // 循环语句
        div
            - var n = 0
            ul
                while n < 4
                    li= n++

        // mixins
        div
            // 1 简单混合宏
            //模板
            mixin list
                ul
                    li foo
                    li bar
                    li baz

            //复用
            +list
            +list

            // 2 +传递参数
            mixin pet(name)
                li.pet= name

            ul
                +pet('cat')
                +pet('dog')
                +pet('pig')

            // 3 ...表示不定数量的参数
            mixin list(id, ...items)
              ul(id=id)
                each item in items
                  li= item

            +list('my-list', 1, 2, 3, 4)

            // 4 替换正文某个部分，可以用block占位
            mixin article(title)
              .article
                .article-wrapper
                  h1= title
                  if block
                    block
                  else
                    p No content provided

            +article('Hello world')

            +article('Hello world')
              p This is my
              p Amazing article

            // 5 有关属性的混合宏
            mixin link(href, name)
              a(href=href)&attributes(attributes)= name

            +link('/foo', 'foo')(class="btn")

        //includes
        div
            //请见 index,head,footer 文件

        //继承（extends）
        div
            //请见 index,head,footer 文件
